DATABASE_URL=mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3D%28localdb%29%5CMSSQLLocalDB%3BDATABASE%3DRusselAI%3BTrusted_Connection%3Dyes%3BEncrypt%3Dno%3B
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
